<!DOCTYPE html>
<html>
<head>
	<title>Strucs</title>
</head>
<body>

	<div class="struct_container">
		<div class="frame_container">
			<div class="container_label_title">
			<div class="label_title"> Ordenações</div>				
		</div>
	</div>

</body>
</html>

<script type="text/javascript">

	$( document ).ready(function() {
	    console.log("helo");
	});	

</script>

