.struct_container {
    min-height: 100%;
    width: 100%;
    position: absolute;	
}
.frame_container {
    position: relative;
    width: 100%;
    height: 50px;
    background: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_label_title {

}
.label_title {

}